/* font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif; */
/*
const DARK_BLUE = #5680e9
const SKY_BLUE = #84ceeb
const CYAN = #5ab9ea
const PERIWINKLE = #c1c8e4
const PURPLE = #8860d0
*/

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #c1c8e4;
  opacity: 0.8;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#notes-main {
  display: flex;
  flex-grow: 999;
}

#notes-wrapper {
  margin: auto;
}

#notes-sidebar {
  margin: 0 2vw;
  border: 1px dotted black;
  flex-basis: 30vw;
}

.card {
  min-width: 60vw;
  width: 60vw;
}

#invalid-password {
  border: 3px solid red;
  padding: 1rem;
  color: red;
}

.hidden {
  display: none;
}

.suggested-user {
  border: 1px solid black;
}

#share-modal {
  display: flex;
  flex-direction: column;
}

#share-success {
  position: fixed;
  top: 10px;
  right: 50vw;
}

.profile-pic-small {
  width: 40px;
  height: 40px;
}

.profile-pic-big {
  width: 10vw;
  height: 10vw;
}

.circle-pic {
  display: block;
  background: #e6e7ed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: cover;
}

#test {
  text-transform: capitalize;
}

#login-box {
}
